html{
    background-image: radial-gradient(rgb(210, 211, 202), rgb(91, 90, 108));
    scroll-behavior: smooth;
    font-size: 16px;
}

a{
    color: rgb(224, 223, 223);
    background-color: rgb(11, 8, 8);
}
a:hover {
    color: rgb(108, 97, 68);
    background-color: rgb(196, 153, 61);
  }

img {
    max-width: 100%;
  }

.title-font{
    font-size: 30px;
    text-align: center;
}

.title-align{
    text-align: left;
    }
     

.table-pilots{
  
text-align: center;
 background-color:azure;
 }
 .table-style-border{
    border-style: dashed;
    border-color: brown;
    
 }

 .list-color{
    background-color: azure;
 }

 .img-logos{
    width: 100px; height: 75px;
 }
  

 
