html{
    background-image: radial-gradient(rgb(232, 226, 226), rgb(245, 245, 245));
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
   background-color: rgb(201, 201, 201);
    font-size: 12px;

}
h1{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}


h5{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}

p{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
   font-family: 'Fuggles', cursive;
   font-family: 'Raleway', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   font-family: 'Trade Winds', cursive;
 
}

.a-navbar{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Trade Winds', cursive;
    color: rgb(224, 223, 223);
    font-size: 9px;
    
 }
 
a:hover {
    
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Trade Winds', cursive;
    color: rgb(232, 226, 226);
    background-color: rgb(249, 148, 23);
    font-size: 14px;
  }



img {
    max-width: 100%;
  }


.title-font{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
}

.title-align{
    
    text-align: left;
    }
     

.table-pilots{
  
text-align: center;
 background-color:azure;
 }
 .table-style-border{
    border-style: dashed;
    border-color: brown;
    
 }

 .list-color{
    background-color: azure;
 }

 .img-logos{
    width: 100px; height: 75px;
 }

 .card-cv-color{
   color: rgb(232, 226, 226);
 }
.font-claw{
    font-family: 'Fuggles', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Trade Winds', cursive;
}

.card-allign{
    position: relative; 
    top: 50px; 
}

.button-font-color{
    font-family: 'Fuggles', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Trade Winds', cursive;
font-size: 13px;
}
.carousel-height{
    width: 570px; 
}
.card-notices-color{
    background-color: rgb(245, 245, 245);
}
.background-notices{
    background-color: rgb(187, 187, 187);
}
.background-quienes{
    background-color:rgb(201, 201, 201);
}
 
.font-navbar{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Trade Winds', cursive;
    color: rgb(201, 201, 201);

}
.p-position{
    position: relative;
    top: 150px;
}
.font-cv{
    font-family: 'Fuggles', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    
}
